<p-table #dt [value]="groupDataListChunkArr" dataKey="id" styleClass="p-datatable-customers" [rowHover]="true"
    [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [paginator]="true"
    currentPageReportTemplate="Showing {currentPage}  -  {totalPages}  of  {{groupDataList.length}} records">
    <ng-template pTemplate="header">
        <tr>
            <th colspan="5"></th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
        <tr>
            <ng-container *ngFor="let data of rowData;">
                <td>{{ data.groupName }}</td>
            </ng-container>

            <ng-container *ngIf="groupDataListChunkArr.length - 1 === rowIndex">
                <ng-container *ngFor="let td of autoGenerateTd(groupDataListChunkArr[groupDataListChunkArr.length -1])">
                    <td></td>
                </ng-container>
            </ng-container>
        </tr>
    </ng-template>
</p-table>

<!-- <pre>{{ dt.value | json }}</pre> -->