/* Add application styles & imports to this file! */

.d-flex {
  display: flex !important;
}

.flex-column {
  flex-direction: column !important;
}

#custom-table-style div.ui-table-scrollable-body {
  height: 500px !important;
}
